@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap');

* {
  background-color: #F1FAEE;
  font-family: "B612", sans-serif;
}

body {
  text-align: center;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  float: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header h1, header h2{
  text-align: center;
}

header h1 {
  font-size: 64px;
  color: #1D3557;
  margin: auto;
}

header h2 {
  font-size: 22px;
  color: #457B9D;
  margin: auto;
  margin-bottom: 25%;
}

.box {
  text-decoration: none;
  height: 147px;
  width: 147px;
  margin-bottom: 50%;
  background-color: white;
  border-radius: 50px;
  font-size: 30px;
  color: #1D3557;
  text-align: center;
  padding: 5%;
}

.right {

}

.left {
  
}

.navbar {
  display: none;
}

@media (min-width: 768px) {
  main {
    background-color: #1D3557;
  }

  h1 {
    -webkit-text-stroke: 11px #A8DADC;
    -webkit-text-fill-color: #1D3557;
    font-size: 288px;
    text-align: center;
  }

  .navbar {
    background-color: #1D3557;
    display: block;
    text-decoration: none;
  }

  nav {
    background-color: #1D3557;
  }
}

@media (min-width: 992px) {

}